/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.about-parent {
  width: 100%;
  padding: var(--section-padding);
  text-align: center;
  border: 2px solid red;
  margin-top: 131px;
}
.about-title {
  text-transform: uppercase;
  font-size: 1.6rem;
}
.about-center {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}

.about-center .welcome-paragraph {
  font-size: 19.5px;
 
  text-transform: capitalize;
  text-align: left;
  line-height: 1.25;
}
.wrapper {
  margin-top: 50px;
}
.img-side-by-side {
  margin-top: 1.8rem;
  width: 100%;
  display: flex;
}
.about-doc-image {
  flex: 0 0 55%;
}
.about-doc-image img {
  width: 100%;
  display: block;
  height: 80%;
  margin-top: 35px;
}
.text-top {
  flex: 0 0 40%;
  padding: 0 5px;
}
.who-we-are {
  font-size: 1.7rem;
  text-transform: capitalize;
  margin: 10px 0 0 0;
  text-align: center;
}
.text-top p {
  margin: 0;
  text-align: left;
  font-size: 0.85rem;
  line-height: 1.3;
  letter-spacing: 3px;
}
.text-top p::first-letter {
  font-size: 2rem;
}
.underline {
  width: 90%;
  margin: 15px auto 10px auto;
  border: 4px solid gray;
} */
/* copied */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
body {
  background-color: azure;
}
.main-section {
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-top: 131px;
}
.main-section h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 600;
}
.title-underline {
  width: 15%;
  border: 3px dotted rgb(118, 148, 118);
  margin: 0 auto;
  transform: skewX(40deg);
}
.image-single {
  display: none;
}
.image-article .active {
  display: block;
}
@media screen and (min-width: 500px) {
  .title-underline {
    width: 5%;
  }
}
.main-section p {
  margin-top: 20px;
  text-transform: capitalize;
}
.about-center {
  width: 90%;
  /* border: 2px solid red; */
  margin: 30px auto 20px auto;
}
.image-article,
.info-article {
  width: 90%;
  margin: 0 auto;
}
.info-article {
  background-color: white;
  padding: 0 10px;
}

.image-article img {
  width: 100%;
  border-radius: 10px;
  border: 2px solid orangered;
  margin-bottom: 10px;
}
.btn-container {
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  background-color: rgba(54, 43, 199, 0.39);
}
.tab-btn {
  flex: 0 0 33%;
  padding: 10px 10px;
  background-color: transparent;
  outline: none;
  border: none;
  border-right: 1px solid gray;
  cursor: pointer;
  transition: 0.8s linear;
  color: saddlebrown;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}
.tab-btn:last-child {
  border-right: none;
}
.btn-container .active {
  background-color: white;
}
/* button design ends here */
.about-content {
  width: 100%;
  /* border: 2px solid blue; */
  margin-top: 2rem;
}
/* single items */
.content {
  display: none;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 3px;
  text-align: left;
}
.content h4 {
  text-align: center;
  text-transform: uppercase;
}
.about-content .active {
  display: block;
}

/* media 740px width */
@media screen and (min-width: 740px) {
  .about-center {
    width: 95%;
    display: flex;
    justify-content: space-around;
    /* border: 2px solid green; */
    /* max-height: 300px; */
  }
  .image-article,
  .info-article {
    flex: 0 0 45%;
  }
  .image-article {
    max-height: 300px;
  }
  .info-article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }
  .image-single {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    /* display: block; */
  }
  .about-content {
    margin-top: 0;
  }
}
/* big screen */
@media screen and (min-width: 820px) {
  .main-section {
    padding: 50px 20px;
  }
  .about-center {
    width: 90%;
    min-height: 70vh;
  }

  .image-article,
  .info-article {
    flex: 0 0 45%;
  }
  .image-article {
    max-height: 350px;
  }
  .info-article {
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .image-single {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    /* display: block; */
  }
  .about-content {
    margin-top: 3%;
  }
}
@media screen and (max-width: 450px) {
  .main-section {
    margin-top: 81px;
  }
}
